---
import CloseIcon from "./icons/CloseIcon.astro";

interface Props {
  id: string;
  open: boolean;
}

const { id, open }: Props = Astro.props;
---

<button onclick={`window.${id}.showModal()`}><slot name="button" /></button>

<dialog
  class="absolute h-5/6 w-5/6 flex-col justify-between rounded-xl border-2 border-zinc-50 bg-zinc-950 p-8 text-zinc-50 backdrop:bg-black backdrop:opacity-85 open:flex md:h-3/4 md:w-3/4"
  id={id}
  open={open}
>
  <button
    class="absolute right-6 top-4 stroke-zinc-50"
    onclick={`window.${id}.close()`}
  >
    <CloseIcon size={24} />
  </button>

  <slot />
</dialog>
