---
import CloseIcon from "./icons/CloseIcon.astro";

interface Props {
  id: string;
  open: boolean;
}

const { id, open }: Props = Astro.props;
---

<button onclick={`window.${id}.showModal()`}><slot name="button" /></button>

<dialog
  class="open:flex flex-col justify-between absolute p-8 rounded-xl bg-zinc-950 text-zinc-50 border-zinc-50 border-2 w-3/4 h-3/4 backdrop:bg-black backdrop:opacity-85"
  id={id}
  open={open}
>
  <button class="absolute top-4 right-6 stroke-zinc-50" onclick={`window.${id}.close()`}>
    <CloseIcon size={24}/>
  </button>

  <slot />
</dialog>
